<div>

  <div class="progress progress-striped active" data-ng-show="isBusy">
    <div class="bar" style="width: 100%;"></div>
  </div>
    

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="span12">
                    <div class="intro-message">
                        <h1>Интернет магазин одежды</h1>
                        <h3>Опт и розница</h3>
                        <h3>В любую точку Украины</h3>
                        <h3>(068)6030500</h3>
                        <h3>(050)1967580</h3>
                        <a class="btn btn-xlarge" href="/catalog">Каталог</a>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>
    
    <div class="row">
        <div class="span6">
            <p>Красивые модные платья от производителя (опт) на все сезоны.
            Офисные платья и костюмы, платья для корпоративов и праздников.
            Все модели в разных цветах и сочетаниях.
            Отшив партии под заказ не менее 50 единиц, оперативно, качественно.
            Каждую неделю – новая модель.
            Сезонные распродажи, скидки постоянным покупателям.
            Уважаемые покупатели!  Вы можете комплектовать свой заказ произвольными размерами, не обязательно весь размерный ряд, разными моделями и расцветками.</p>

            
        </div>
        <div class="span6">
            <p>Мы заинтересованы в приобретении новых партнеров,  в  плодотворном  и длительном сотрудничестве.
            Опт для Украины – 3 ед.
            Доставка по Украине – «Нова пошта».
            Удачного бизнеса, приятных покупок!</p>

        </div>
    </div>
    
    <div class="row">
        <div class="span12">
            .
        </div>
    </div>

    

</div>